# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.


# VPN Ports

{
  layer4 {
  
    0.0.0.0:992 {
      route {
        proxy {
	  upstream softether:992
	}
      }
    }

    0.0.0.0:5555 {
      route {
        proxy {
	  upstream softether:5555
	}
      }
    }

    0.0.0.0:1194 {
      route {
        proxy {
	  upstream softether:1194
	}
      }
    }

    0.0.0.0:500 {
      route {
        proxy {
	  upstream softether:500
	}
      }
    }

    0.0.0.0:4500 {
      route {
        proxy {
	  upstream softether:4500
	}
      }
    }
    
  }
}

# web apps

:80 :443 {
    encode zstd gzip
    respond /healthz 200

    # api
    redir /api /api/
    reverse_proxy /api/* api:80

    # docs
    redir /docs /docs/
    reverse_proxy /docs/* docs:80

    # landing page
    reverse_proxy frontend:80
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile